@import helper._

@(addMovieForm: play.data.Form[models.Movie], user: models.users.User)

@* helpers will be used to create the form dynamically, though static HTML form element also work. *@

@admin.adminMain("Add Movie", user) {
	<h3>Add a new Movie</h3>
	
	<!-- Use the views.html.helpers package to create the form -->
	@form(action = routes.AdminController.addMovieSubmit(), 'class -> "form-horizontal", 'role->"form") {
		
		<!-- Build the form, adding an input for each field -->
		<!-- Note the label parameter -->
		@inputText(addMovieForm("name"), '_label -> "Name",'class -> "form-control")
		@inputText(addMovieForm("lead"), '_label -> "Lead",'class -> "form-control")

		@select(
			addMovieForm("genre.id"),
			
			options(Genre.options),
			'_label -> "Genre", '_default -> "-- Choose a genre --",
			'_showConstraints -> false, 'class -> "form-control"
		)
		@inputText(addMovieForm("stock"), '_label -> "Stock",'class -> "form-control")
		@inputText(addMovieForm("price"), '_label -> "Price",'class -> "form-control")

		<!-- Hidden ID field - required for movie updates -->
		@inputText(addMovieForm("id"), '_label -> "", 'hidden -> "hidden")

	<!-- Add a submit button -->
  <div class="actions">
      <input type="submit" value="Save" class="btn btn-primary">
			<a href="@routes.AdminController.movies()"><button class="btn btn-warning">Cancel</button>
	  		</a>
  </div>
	} <!-- End Form definition -->

} <!-- End of page content -->

