@(user: models.users.User)
@main("Home", user){
<div class="row">
    <div class="col-md-8">
        <img class="img-responsive img-rounded" src="@routes.Assets.versioned("images/inside.jpg")" alt="">
    </div>
    <!-- /.col-md-8 -->
    <div class="col-md-4">
        <h1>Marbleworld</h1>
        <p>This is a template that is great for small businesses. It doesn't have too much fancy flare to it, but it makes a
            great use of the standard Bootstrap core components. Feel free to use this template for any project you want!
        </p>
    </div>
    <!-- /.col-md-4 -->
</div>
<!-- /.row -->


<!-- Call to Action Well -->
<div class="row">
    <div class="col-lg-12">
        <div class="well text-center">
            We guarantee you the best cinema experience in Ireland!
        </div>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<!-- Content Row -->
<div class="well">
<div class="row">
    
    <div class="col-md-4">
        <img src="@routes.Assets.versioned("images/whats_on.jpg")" alt="sd" width=315 height=215>
        <p>Check what's currently playing in our cienama.</p>
        <a class="btn btn-default" href="@routes.HomeController.whatson()">More Info</a>
    </div>
    <!-- /.col-md-4 -->
    <div class="col-md-4">
        <img src="@routes.Assets.versioned("images/book_online.jpg")" alt="sd" width=315 height=215>

        <p>Book online your tickets in less than 5 minutes.</p>
        <a class="btn btn-default" href="@routes.HomeController.movies()">More Info</a>
    </div>
    <!-- /.col-md-4 -->
    <div class="col-md-4">
        <img src="@routes.Assets.versioned("images/contact_us.jpg")" alt="sd">
        <p>Do you have any questions or suggestions?</p>
        <a class="btn btn-default" href="@routes.HomeController.contact()">More Info</a>
    </div>
    <!-- /.col-md-4 -->
    </div>
</div>
<!-- /.row -->
<br>
}
